{% extends 'master/base.html' %}

{% block content %}
{% include 'master/message.html' %}
<h1>Consumed List</h1>
<a href="{% url 'add_calorie' %}" class="btn btn-primary">Add Calorie</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Item Name</th>
            <th>Calorie</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        {% for data in calorie_data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.item_name}}</td>
                <td>{{data.calory}}</td>
                <td>{{data.date}}</td>
                <td>
                    <a href="{% url 'update_calorie' data.id %}">Edit</a>
                    <a href="{% url 'delete_calorie' data.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
            
    </tbody>

</table>
    
{% endblock content %}
    