{% extends 'master/base.html' %}

{% block content %}
{% include 'master/message.html' %}

<h2 class="mb-4">Profile Information</h2>

<div class="col-md-5 mx-auto">
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h4>{{ profile.name|default:"No Name" }}</h4>
        </div>

        <div class="card-body">

            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>Age:</strong> {{ profile.age }}</p>
            <p><strong>Weight:</strong> {{ profile.weight }} kg</p>
            <p><strong>Height:</strong> {{ profile.height }} cm</p>
            <p><strong>Gender:</strong> {{ profile.gender }}</p>
            <p><strong>BMR:</strong> {{ profile.bmr }} kcal</p>

        </div>

        <div class="card-footer text-center">
            <a href="{% url 'profile_update' %}" class="btn btn-warning">Update Profile</a>
        </div>
    </div>
</div>

{% endblock %}